{% extends 'main.html' %}

{% block title %} Car offer {% endblock %}

{% block content %}
<div class="card" style="width: 60rem;">
  <img src="/media/{{car.photo1}}" class="card-img-top">
  <div class="card-body">
    <p class="card-text">
        <br>Marka: {{ car.make }}
        <br>Model: {{ car.model }}
        <br>Rok produkcji: {{ car.year }}
        <br>Pojemność skokowa: {{ car.engine }} cm3
        <br>Rodzaj paliwa: {{ car.fuel }}
        <br>Moc: {{ car.power }} KM
        <br>Skrzynia biegów: {{ car.gearbox }}
        <br>Przebieg: {{ car.mileage }} km
        <br>{{ car.description }}
      </p>
    <a href="tel:510-203-204" class="btn btn-success">Zadzwoń</a>
    <a href="{% url 'cars' %}" class="btn btn-primary">Cofnij</a>
  </div>
</div>
{% endblock %}